@model DoctorViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "DoctorDetail";
}

<div class="container mt-5">
    <div class="row">
        <!-- Cột chứa ảnh bác sĩ -->
        <div class="col-md-4">
            <img src="@Model.User.AvatarUrl" alt="Ảnh bác sĩ" class="rounded-circle" style="width: 100%">
        </div>

        <!-- Cột chứa thông tin chi tiết -->
        <div class="col-md-8">
            <h2>@Model.User.FullName</h2>
            <p><strong>Năm kinh nghiệm:</strong>@Model.YearsOfExperience</p>
            <p><strong>Khoa:</strong> @Model.Specialization</p>
            <p><strong>Mô tả:</strong> @Model.About</p>
            <p><strong>Số điện thoại:</strong> @Model.User.PhoneNumber</p>

            <form id="appointmentForm">
                <div class="mb-3">
                    <label for="appointmentDate" class="form-label">Ngày hẹn</label>
                    <select class="form-select" id="appointmentDate" required>
                        <option value="">Chọn ngày</option>
                        @{
                            for (int i = 0; i < 5; i++)
                            {
                                var date = DateTime.Now.AddDays(i);
                                <option value="@date.ToString("yyyy-MM-dd")">
                                    @date.ToString("dd/MM/yyyy") - @date.ToString("dddd", new
                            System.Globalization.CultureInfo("vi-VN"))
                                </option>
                            }
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <label for="appointmentTime" class="form-label">Giờ hẹn</label>
                    <div id="timeSlotsContainer"></div>
                </div>
                <button type="submit" class="btn btn-success">Xác nhận đặt lịch</button>
            </form>
            
        </div>
    </div>


</div>

@section Scripts {
<script>
    $(document).ready(function () {
        $('#appointmentDate').on('change', function () {
            var selectedDate = $(this).val();

            if (selectedDate) {
                $.ajax({
                    url: '/Schedule/GetFreeTimeSlots',
                    type: 'GET',
                    data: { 
                        DoctorId: @Model.Id,
                        date: selectedDate
                         },
                    success: function (response) {
                        $('#timeSlotsContainer').html(response);
                    },
                    error: function () {
                        $('#timeSlotsContainer').html('<p class="text-danger">Không thể tải giờ khả dụng. Vui lòng thử lại.</p>');
                    }
                });
            } else {
                $('#timeSlotsContainer').html('<p class="text-muted">Chọn ngày để xem giờ khả dụng.</p>');
            }
        });
    });
</script>
}
